@font-face
{
    font-family: arcade classic;
    src: url(/assets/font/ARCADECLASSIC.TTF);
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/img/yoda_bg.png);
    background-position: center;
    background-size: cover; /* centrer son image de background et la rendre responsive */
    background-repeat: no-repeat;
    display: inline-flex;
}

.yoda {
    width: 50%;
    height: 100%;
}

.input {
    background-color: transparent;
    width: 55%;
    height: 35%;
    position: relative;
    border: solid 8px #7cac0b;
    text-align: center;
    padding: 100px 60px 20px 60px; 
    text-align: center;
    align-items: center;
    margin: 250px 100px auto -100px;
    border-radius: 15px;
}

.input_to_translate {
    background-color: transparent;
    width: 80%;
    position: relative;
    text-align: left;
    color: white;
    border: solid 4px #7cac0b;
    padding: 30px 30px 30px 30px;
    margin: -70px auto;
    border-radius: 15px;
    font-size: 2em;
    font-family: 'arcade classic';
    color: #7cac0b;
    line-height: 1.6;
}

textarea:focus, input:focus{
    outline: none;
}

.btn {
    width: 140px;
    height: 40px;
    position: relative;
    text-align: center;
    color: rgb(219, 63, 244);
    background: #7cac0b;
    margin: 80px auto;
    border-radius: 10px;
    font-family: 'arcade classic';
    font-size: 1.5em;
}

.text_translated {
    color: rgb(255, 255, 255);
    font-family: 'arcade classic';
    font-size: 2.2em;
}
